<h1>Editing ideologist type</h1>

<%= render "form", ideologist_type: @ideologist_type %>

<br>

<div>
  <%= link_to "Show this ideologist type", @ideologist_type %> |
  <%= link_to "Back to ideologist types", ideologist_types_path %>
</div>
