<h2>Редактировать населенный пункт</h2>

<%= render "form", settlement: @settlement %>

<br>

<div>
  <%= link_to "Показать населенный пункт", @settlement %> |
  <%= link_to "Все населенные пункты", settlements_path %>
</div>
