<p>Наши города</p>
<% @settlements.each do |settlement| %>
  <p><%= link_to settlement.name, settlement %> - <%= settlement.category %></p>
<% end -%>

<%= link_to('Создать новый населенный пункт', new_settlement_path) %>
