<p>Наши города</p>
<% @settles.each do |settlement| %>
  <p><%= settlement.name %> - <%= settlement.category %></p>
<% end -%>

<%= link_to 'Создать населенный пункт', new_settlement_path %>



-----------<br>

 <%= @settles %>

<br>

<a href="/welcome-index">Назад</a>
