<h3>Населенные пункты</h3>
<% @settlements.each do |settlement| %>
  <% link = "/settlements/#{settlement.id}" %>
  <p><%= link_to settlement.name, link %> - <%= settlement.category %></p>
<% end -%>

<p><%= link_to 'Создать населенный пункт', new_settlement_path %></p>

<p><%= link_to 'Перейти к экономическим субъектам', economic_subjects_path %></p>
