<h2>Редактировать категорию населенного пункта</h2>

<%= render "form", settlement_category: @settlement_category %>

<br>

<div>
  <%= link_to "Показать категорию НП", @settlement_category %> |
  <%= link_to "Все категории НП", settlement_categories_path %>
</div>
