<form action="/settles/<%= @settle&.id %>" method="patch">
  <p>Название: <input type="text" name="name" value="<%= @settle&.name %>"/></p>
  <p>Категория: <input type="text" name="category" value="<%= @settle&.category %>"/></p>
  <p><input type="submit"></p>
</form>
