<div id="<%= dom_id building_place %>">
  <p>
    <strong>Category:</strong>
    <%= building_place.category %>
  </p>

  <p>
    <strong>Params:</strong>
    <%= building_place.params %>
  </p>

</div>
