<h2>Редактировать тип предприятия</h2>

<%= render "form", plant_type: @plant_type %>

<br>

<div>
  <%= link_to "Показать тип предприятия", @plant_type %> |
  <%= link_to "Все типы предприятия", plant_types_path %>
</div>
