<h1>Editing plant type</h1>

<%= render "form", plant_type: @plant_type %>

<br>

<div>
  <%= link_to "Show this plant type", @plant_type %> |
  <%= link_to "Back to plant types", plant_types_path %>
</div>
