<h1>Editing technology item</h1>

<%= render "form", technology_item: @technology_item %>

<br>

<div>
  <%= link_to "Show this technology item", @technology_item %> |
  <%= link_to "Back to technology items", technology_items_path %>
</div>
