<h1>Editing influence item</h1>

<%= render "form", influence_item: @influence_item %>

<br>

<div>
  <%= link_to "Show this influence item", @influence_item %> |
  <%= link_to "Back to influence items", influence_items_path %>
</div>
