<h2>Редактировать категорию населенного пункта</h2>

<%= render "form", settlement_type: @settlement_type %>

<br>

<div>
  <%= link_to "Показать категорию НП", @settlement_type %> |
  <%= link_to "Все категории НП", settlement_types_path %>
</div>
