<h1>Editing public order item</h1>

<%= render "form", public_order_item: @public_order_item %>

<br>

<div>
  <%= link_to "Show this public order item", @public_order_item %> |
  <%= link_to "Back to public order items", public_order_items_path %>
</div>
