<form action="/economic_subjects/<%= @economic_subject.id %>" method="patch">
  <p>Название: <input type="text" name="name" value="<%= @economic_subject.name %>"/></p>
  <p>Категория: <input type="text" name="category" value="<%= @economic_subject.category %>"/></p>
  <p>Категория: <input type="text" name="money" value="<%= @economic_subject.money %>"/></p>
  <p><input type="submit"></p>
</form>