<h1>Editing relation item</h1>

<%= render "form", relation_item: @relation_item %>

<br>

<div>
  <%= link_to "Show this relation item", @relation_item %> |
  <%= link_to "Back to relation items", relation_items_path %>
</div>
