<p style="color: green"><%= notice %></p>

<h1>Ideologist technologies</h1>

<div id="ideologist_technologies">
  <% @ideologist_technologies.each do |ideologist_technology| %>
    <%= render ideologist_technology %>
    <p>
      <%= link_to "Show this ideologist technology", ideologist_technology %>
    </p>
  <% end %>
</div>

<%= link_to "New ideologist technology", new_ideologist_technology_path %>
