<h1>New ideologist technology</h1>

<%= render "form", ideologist_technology: @ideologist_technology %>

<br>

<div>
  <%= link_to "Back to ideologist technologies", ideologist_technologies_path %>
</div>
