<div id="<%= dom_id player_type %>">
  <p>
    <strong>Title:</strong>
    <%= player_type.title %>
  </p>

  <p>
    <strong>Ideologist type:</strong>
    <%= player_type.ideologist_type_id %>
  </p>

</div>
