<div id="<%= dom_id player_type %>">
  <p>
    <strong>Название типа игрового персонажа:</strong>
    <%= link_to player_type.title, player_type %>
  </p>

  <p>
    <strong>Игровые персонажи:</strong>
    <% if player_type.player_ids.blank? %>
     Не выбраны
    <% else %>
     <% player_type.players.each do |player|%>
      <%= link_to player.name, player %>
      <% end -%>
    <% end -%>
  </p>

</div>
