<div id="<%= dom_id player_type %>">
  <p>
    <strong>Название типа игрока:</strong>
    <%= link_to player_type.name, player_type %>
  </p>

  <p>
    <strong>Игроки:</strong>
    <% if player_type.player_ids.blank? %>
      Не выбраны
    <% else %>
      <% player_type.players.each do |player|%>
        <%= link_to player.name, player %>
      <% end -%>
    <% end -%>
  </p>

</div>
