<h2>Добавить тип игрового персонажа</h2>

<%= render "form", player_type: @player_type %>

<br>

<div>
  <%= link_to "Показать тип игрового персонажа", @player_type %> |
  <%= link_to "Все типы игровых персонажей", player_types_path %>
</div>
