<p style="color: green"><%= notice %></p>

<h2>Типы игровых персонажей</h2>

<div id="player_types">
  <% @player_types.each do |player_type| %>
    <%= render player_type %>
  <% end %>
</div>

<%= link_to "Добавить тип игрового персонажа", new_player_type_path %>
