<h1>Editing troop type</h1>

<%= render "form", troop_type: @troop_type %>

<br>

<div>
  <%= link_to "Show this troop type", @troop_type %> |
  <%= link_to "Back to troop types", troop_types_path %>
</div>
