<h3>Создать населенный пункт</h3>
<form action="/facilities" method="post">
  <p>Название: <input type="text" name="name"/></p>
  <p>Категория: <input type="text" name="category"/></p>
  <p>Цена: <input type="text" name="price"/></p>
  <p>Уровень: <input type="text" name="level"/></p>
  <p>Место: <input type="text" name="location"/></p>
  <p><input type="submit"/></p>
</form>
