<h1>Editing building level</h1>

<%= render "form", building_level: @building_level %>

<br>

<div>
  <%= link_to "Show this building level", @building_level %> |
  <%= link_to "Back to building levels", building_levels_path %>
</div>
