<h2>Редактировать уровень предприятия</h2>

<%= render "form", plant_level: @plant_level %>

<br>

<div>
  <%= link_to "Показать уровень предприятия", @plant_level %> |
  <%= link_to "Все уровни предприятий", plant_levels_path %>
</div>
