<h1>Editing plant level</h1>

<%= render "form", plant_level: @plant_level %>

<br>

<div>
  <%= link_to "Show this plant level", @plant_level %> |
  <%= link_to "Back to plant levels", plant_levels_path %>
</div>
