<p style="color: green"><%= notice %></p>

<h2>Уровни предприятий</h2>

<div id="plant_levels">
  <% @plant_levels.each do |plant_level| %>
    <%= render plant_level %>
    <p>
      <%= link_to "Показать", plant_level %>
    </p>
  <% end %>
</div>

<%= link_to "Добавить уровень предприятия", new_plant_level_path %>
