<p style="color: green"><%= notice %></p>

<h2>Кредиты</h2>

<div id="credits">
  <% @credits.each do |credit| %>
    <%= render credit %>
    <p>
      <%= link_to "Показать кредит", credit %>
    </p>
  <% end %>
</div>

<%= link_to "Добавить новый кредит", new_credit_path %>
