<div id="<%= dom_id army %>">
  <p>
    <strong>Region:</strong>
    <%= army.region_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= army.player_id %>
  </p>

  <p>
    <strong>Army size:</strong>
    <%= army.army_size_id %>
  </p>

</div>


