<form action="/eco_subjects/<%= @eco_subject&.id %>" method="patch">
  <p>Название: <input type="text" name="name" value="<%= @eco_subject&.name %>"/></p>
  <p>Категория: <input type="text" name="category" value="<%= @eco_subject&.category %>"/></p>
  <p>Количество денег: <input type="text" name="money" value="<%= @eco_subject&.money %>"/></p>
  <p><input type="submit"></p>
</form>