<h3>Создать экономический субъект</h3>
<form action="/eco_subjects" method="post">
  <p>Название: <input type="text" name="name"/></p>
  <p>Категория: <input type="text" name="category"/></p>
  <p>Количество денег: <input type="text" name="money"/></p>
  <p><input type="submit"/></p>
</form>