<div id="<%= dom_id fossil_type %>">
  <p>
    <strong>name:</strong>
    <%= fossil_type.name %>
  </p>

  <p>
    <strong>Тип предприятия:</strong>
    <% if fossil_type.plant_type_ids.blank? %>
      Не выбран
    <% else %>
      <% fossil_type.plant_types.each do |plant_type|%>
        <%= link_to plant_type.name, plant_type %>
      <% end -%>
    <% end -%>
  </p>

   <p>
    <strong>Места для предприятий:</strong>
    <% if fossil_type.plant_place_ids.blank? %>
      Не выбраны
    <% else %>
      <% fossil_type.plant_places.each do |plant_place|%>
        <%= link_to plant_place.name, plant_place %>
      <% end -%>
    <% end -%>
  </p>

</div>
