<h2>Редактировать вид ископаемого</h2>

<%= render "form", fossil_type: @fossil_type %>

<br>

<div>
  <%= link_to "Показать вид ископаемого", @fossil_type %> |
  <%= link_to "Назад к видам ископаемых", fossil_types_path %>
</div>
