<h1>Editing fossil type</h1>

<%= render "form", fossil_type: @fossil_type %>

<br>

<div>
  <%= link_to "Show this fossil type", @fossil_type %> |
  <%= link_to "Back to fossil types", fossil_types_path %>
</div>
