<p style="color: green"><%= notice %></p>

<h2>Виды ископаемых</h2>

<div id="fossil_types">
  <% @fossil_types.each do |fossil_type| %>
    <%= render fossil_type %>
    <p>
      <%= link_to "Показать", fossil_type %>
    </p>
  <% end %>
</div>

<%= link_to "Добавить новый вид ископаемых", new_fossil_type_path %>
