<h1>Editing political action</h1>

<%= render "form", political_action: @political_action %>

<br>

<div>
  <%= link_to "Show this political action", @political_action %> |
  <%= link_to "Back to political actions", political_actions_path %>
</div>
