<h2>Редактировать политическое действие</h2>

<%= render "form", political_action: @political_action %>

<br>

<div>
  <%= link_to "Показать политическое действие", @political_action %> |
  <%= link_to "Назад к политических действиям", political_actions_path %>
</div>
