<p style="color: green"><%= notice %></p>

<h2>Политические действия</h2>

<div id="political_actions">
  <% @political_actions.each do |political_action| %>
    <%= render political_action %>
    <p>
      <%= link_to "Показать политическое действие", political_action %>
    </p>
  <% end %>
</div>

<%= link_to "Добавить новое политическое действие", new_political_action_path %>
