<p style="color: green"><%= notice %></p>

<h1>Political actions</h1>

<div id="political_actions">
  <% @political_actions.each do |political_action| %>
    <%= render political_action %>
    <p>
      <%= link_to "Show this political action", political_action %>
    </p>
  <% end %>
</div>

<%= link_to "New political action", new_political_action_path %>
