<div id="<%= dom_id plant_place %>">
  <p>
    <strong>Title:</strong>
    <%= plant_place.title %>
  </p>

  <p>
    <strong>Plant place type:</strong>
    <%= plant_place.plant_place_type %>
  </p>

</div>
