<h2>Редактировать место для предприятия</h2>

<%= render "form", plant_place: @plant_place %>

<br>

<div>
  <%= link_to "Показать место для предприятия", @plant_place %> |
  <%= link_to "Все места для предприятий", plant_places_path %>
</div>
