<p style="color: green"><%= notice %></p>

<h2>Места для предприятий</h2>

<div id="plant_places">
  <% @plant_places.each do |plant_place| %>
    <%= render plant_place %>
    <p>
      <%= link_to "Показать", plant_place %>
    </p>
  <% end %>
</div>

<%= link_to "Добавить новое место для предприятия", new_plant_place_path %>
