<div id="<%= dom_id political_action_type %>">
  <p>
    <strong>Title:</strong>
    <%= political_action_type.title %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= political_action_type.action %>
  </p>

  <p>
    <strong>Params:</strong>
    <%= political_action_type.params %>
  </p>

</div>
