<h2>Редактировать вид политического действия</h2>

<%= render "form", political_action_type: @political_action_type %>

<br>

<div>
  <%= link_to "Show this political action type", @political_action_type %> |
  <%= link_to "Back to political action types", political_action_types_path %>
</div>
