<h2>Добавить вид политического действия</h2>

<%= render "form", political_action_type: @political_action_type %>

<br>

<div>
  <%= link_to "Назад к видам политических действий", political_action_types_path %>
</div>
