<h1>Editing game parameter</h1>

<%= render "form", game_parameter: @game_parameter %>

<br>

<div>
  <%= link_to "Show this game parameter", @game_parameter %> |
  <%= link_to "Back to game parameters", game_parameters_path %>
</div>
