<h1>Editing ideologist technology</h1>

<%= render "form", technology: @technology %>

<br>

<div>
  <%= link_to "Show this ideologist technology", @technology %> |
  <%= link_to "Back to ideologist technologies", technologies_path %>
</div>
