<h1>Editing army size</h1>

<%= render "form", army_size: @army_size %>

<br>

<div>
  <%= link_to "Show this army size", @army_size %> |
  <%= link_to "Back to army sizes", army_sizes_path %>
</div>
