<h1>Editing army size</h1>

<%= render "form", army_size: @army_size %>

<br>

<div>
  <%= link_to "Редактировать размер армии", @army_size %> |
  <%= link_to "Вернуться к размерам армий", army_sizes_path %>
</div>
