<div id="<%= dom_id troop %>">
  <p>
    <strong>Troop type:</strong>
    <%= troop.troop_type_id %>
  </p>

  <p>
    <strong>Is hired:</strong>
    <%= troop.is_hired %>
  </p>

  <p>
    <strong>Army:</strong>
    <%= troop.army_id %>
  </p>

</div>
